<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Error</title>
</head>
<body>
  <h1>Error</h1>
  <p>It's not your fault. But don't try it again.</p>
  <p><a href="/">Base Page</a></p>

</body>
</html>